.img-projeto{
     
    /*
    background-image: url(../../imagens/1.png);
    */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid #0A3DBF;
}